<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/homepage.css">
  <title>Index Page</title>
</head>

<body>
  <header>
    <a href="/">
      <div id="logo">Artroom</div>
    </a>
    <div id="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <nav id="navbar">
      <ul>
        <li>
          <a href="/" class="navbar-link active">Home</a>
        </li>
        <li>
          <a href="/projects" class="navbar-link">Projects</a>
        </li>
        <li>
          <a href="/about" class="navbar-link">About</a>
        </li>
        <li>
          <a href="/prices" class="navbar-link">Prices</a>
        </li>
      </ul>
    </nav>
  </header>


  <div id="welcome-banner">
    <h1>Welcome to Artroom!</h1>
    <p>The team of experienced designers and architects.</p>
  </div>

  <div id="gen-banner">
    <img src="/staticImages/Furniture-1-1.jpg" alt="Furniture image">
    <div id="g-banner-text">
      <h1>Interior, exterior design and 3D visualization in EU</h1>
      <p>ARTROOM is a team of professionals. We design flats, cottages, restaurants, bars, offices, shops, and other residential and public premises.</p>
      <p>We also develop individual projects for low-rise private residential buildings and perform architectural 3D visualisation.</p>
      <p>We have a huge number of successfully completed projects and many years of experience in this field. The specialists in our studio will prepare for you detailed technical documentation of the highest quality, so you can fully implement the object.</p>
    </div>
  </div>

  <h1 id="advantages-header">Our Advantages</h1>
  <div id="advantages-grid">
    <div class="advantages-item">
      <img src="/staticImages/access-svgrepo-com.svg" alt="" width="60px" height="60px">
      <h2>A PERSONALISED APPROACH</h2>
      <p>Individual approach to each customer, rather than imposing their perceptions</p>
    </div>
    <div class="advantages-item">
      <img src="/staticImages/building-plan.svg" alt="" width="60px" height="60px">
      <h2>FULL SERVICE PACKAGE</h2>
      <p>Full service package from drawings to authoring</p>
    </div>
    <div class="advantages-item">
      <img src="/staticImages/building-tool-svgrepo-com.svg" alt="" width="60px" height="60px">
      <h2>3D VISUALISATION</h2>
      <p>High-quality and realistic 3D visualisation</p>
    </div>
    <div class="advantages-item">
      <img src="/staticImages/building.svg" alt="" width="60px" height="60px">
      <h2>FROM THE ROOM TO THE WHOLE SITE</h2>
      <p>The possibility of ordering the interior design of the entire property or of an individual room</p>
    </div>
    <div class="advantages-item">
      <img src="/staticImages/construction-worker-svgrepo-com.svg" alt="" width="60px" height="60px">
      <h2>CONSTRUCTION TEAMS</h2>
      <p>Possibility of realising the project with our construction crews</p>
    </div>
    <div class="advantages-item">
      <img src="/staticImages/science-svgrepo-com.svg" alt="" width="60px" height="60px">
      <h2>TECHNOLOGY</h2>
      <p>Use of innovative engineering technology and the latest construction materials in the design project</p>
    </div>
    <div class="advantages-item">
      <img src="/staticImages/quality-svgrepo-com.svg" alt="" width="60px" height="60px">
      <h2>QUALITY</h2>
      <p>The quality of our work is confirmed by the recommendations of our customers</p>
    </div>
    <div class="advantages-item">
      <img src="/staticImages/question-circle-svgrepo-com.svg" alt="" width="60px" height="60px">
      <h2>FREE CONSULTATIONS</h2>
      <p>Free advice from highly qualified professionals when buying a flat, plot or house, or when carrying out a design project.</p>
    </div>
  </div>

  <h1 id="works-header">SOME OF OUR WORKS</h1>
  <div id="works-showbanner">
    <% const project1 = projects[0] %>
    <% const project2 = projects[1] %>
    <% const project3 = projects[2] %>
    <div class="works-project">
      <a href="/projects/<%= project1._id %>"><img src="/uploads/<%= project1.images[0] %>" alt=""></a>
      <div class="works-name">
        <h3><%= project1.name %></h3>
      </div>
    </div>
    <div class="works-project">
      <a href="/projects/<%= project2._id %>"><img src="/uploads/<%= project2.images[0] %>" alt=""></a>
      <div class="works-name">
        <h3><%= project2.name %></h3>
      </div>
    </div>
    <div class="works-project">
      <a href="/projects/<%= project3._id %>"><img src="/uploads/<%= project3.images[0] %>" alt=""></a>
      <div class="works-name">
        <h3><%= project3.name %></h3>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer">
      <div class="contact-info">
        <h5>Contact Information:</h5>
        <p class="address">Mozartova 4912/10,<br> 811 02 Bratislava - Stare Mesto</p>
        <p class="email">Email: <a href="mailto:artroom.box@gmail.com">artroom.box@gmail.com</a></p>
        <p class="phone-number">Phone number: +421 949 227 794</p>
      </div>
      <div class="working-hours">
        <h5>Working Hours:</h5>
        <p>Monday-Friday - 10:00-18:00</p>
        <p>Saturday-Sunday - not working</p>
      </div>
    </div>
  </footer>

  <div class="copyright">
    <p> © ARTROOM Architectural Studio.
      All rights reserved.
      All visual materials on the website belong to the ARTROOM architectural studio.
      Copying of any materials by third parties without written permission is prohibited. </p>
  </div>
  
  <script src="/scripts/navbar-transparent.js"></script>
  <script src="/scripts/navbar.js"></script>

</body>

</html>