<!DOCTYPE html>
<html lang="sk">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/showpage.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/lightbox.css">
  <link rel="icon" type="image/x-icon" href="/staticImages/favicon-32x32.png">
  <title>
    <%= project.name %>
  </title>
</head>

<body>

  <div class="navhead">
    <header>
      <a href="/">
        <div id="logo"><img src="/staticImages/logo.png" alt="artroom logo" class="artroom-logo"></div>
      </a>
      <div id="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <nav id="navbar">
        <ul>
          <li>
            <a href="/sk/" class="navbar-link">Domov</a>
          </li>
          <li>
            <a href="/sk/projects" class="navbar-link active">Projekty</a>
          </li>
          <li>
            <a href="/sk/about" class="navbar-link">O nás</a>
          </li>
          <li>
            <a href="/sk/prices" class="navbar-link">Ceny</a>
          </li>
          <li>
            <a href="/sk/contacts" class="navbar-link">Kontakt</a>
          </li>
          <li>
            <select name="language" id="language" class="language-select">
              <option value="sk" selected>Slovenčina</option>
              <option value="en">English</option>
            </select>
          </li>
        </ul>
      </nav>
    </header>
  </div>

  <div class="content-container">

    <% if (project.skName) { %>
      <div class="projectName">
        <span id="projectName">
          <%= project.skName %>
        </span>
      </div>
      <% } else { %>
      <div class="projectName">
        <span id="projectName">
          <%= project.name %>
        </span>
      </div>
      <% } %>
    <% if (project.shortSkDescription) { %>
      <div class="projectDescription">
        <pre id="projectShortDescription">
            <%= project.shortSkDescription %>
        </pre>
      </div>
      <% } %>
    <div class="pictures-container">
      <% for (let image of project.images) { %>
      <div class="picture"><a href="/uploads/<%= image %>" data-lightbox="gallery"><img src="/uploads/<%= image %>" alt="Obrazok projektu"></a></div>
      <% } %>
    </div>

    <div class="projectDescription">
      <pre id="projectDescription">
        <% if (project.slovakDescription) { %>
          <%= project.slovakDescription %>
        <% } else { %>
          <%= project.description %>
        <% } %>
        </pre>
    </div>

  </div>

  <% if (admin) { %>
    <div class="admin-buttons">
      <a href="/projects/<%= project._id %>/edit" class="edit-link">Edit project</a>
      <form action="/projects/<%= project._id %>/delete" method="POST" class="delete-form">
        <button type="submit" class="delete-button">Delete Project</button>
      </form>
    </div>
    <% } %>

  <footer>
    <div class="footer">
      <div class="contact-info">
        <h5>Kontaktné informácie:</h5>
        <p class="address">Mozartova 4912/10,<br> 811 02 Bratislava - Stare Mesto</p>
        <p class="email">Email: <a href="mailto:artroom.box@gmail.com">artroom.box@gmail.com</a></p>
        <p class="phone-number">Telefónne číslo: +421 949 227 794</p>
      </div>
      <div class="working-hours">
        <h5>Pracovné hodiny:</h5>
        <p>Pondelok-Piatok - 10:00-18:00</p>
        <p>Sobota-Nedeľa - nepracujeme</p>
        <a href="https://www.facebook.com/artroom.by"><img src="/staticImages/facebook-logo.svg" alt="artroom-facebook" width="20px" height="20px" class="social-button"></a>
        <a href="https://www.instagram.com/artroom.sk/"><img src="/staticImages/insta-logo.svg" alt="artroom-instagram" width="20px" height="20px" class="social-button"></a>
      </div>
    </div>
  </footer>

  <div class="copyright">
    <p> © ARTROOM Architektonické štúdio.
      Všetky práva vyhradené.
      Všetky vizuálne materiály na webovej stránke patria architektonickému štúdiu ARTROOM.
      Kopírovanie akýchkoľvek materiálov tretími stranami bez písomného povolenia je zakázané. </p>
  </div>

  <script src="/scripts/lightbox-plus-jquery.js"></script>
  <script src="/scripts/language.js"></script>
  <script src="/scripts/navbar.js"></script>
  <script src="/scripts/navbar-transparent.js"></script>
  <script>
    lightbox.option({
      wrapAround: true,
      resizeDuration: 300
    })
  </script>
</body>

</html>