<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="../../stylesheets/indexProjects.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/animations.css">
  <link rel="icon" type="image/x-icon" href="/staticImages/favicon-32x32.png">
  <title>Artroom - Projects</title>
</head>

<body>

  <div class="navhead">
    <header>
      <a href="/">
        <div id="logo"><img src="/staticImages/logo.png" alt="artroom logo" class="artroom-logo"></div>
      </a>
      <div id="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
      <nav id="navbar">
        <ul>
          <li>
            <a href="/" class="navbar-link">Home</a>
          </li>
          <li>
            <a href="/projects" class="navbar-link active">Projects</a>
          </li>
          <li>
            <a href="/about" class="navbar-link">About</a>
          </li>
          <li>
            <a href="/prices" class="navbar-link">Pricing</a>
          </li>
          <li>
            <a href="/contacts" class="navbar-link">Contacts</a>
          </li>
          <li>
            <select name="language" id="language" class="language-select">
              <option value="sk">Slovenčina</option>
              <option value="en" selected>English</option>
            </select>
          </li>
        </ul>
      </nav>
    </header>

  </div>

  <div class="filter-buttons">
    <button class="filter-button" data-type="architecture">Architecture</button>
    <button class="filter-button" data-type="visualisation">Visualisation</button>
    <button class="filter-button active" data-type="design">Design</button>
  </div>

  <div class="section hidden" data-type="architecture">
    <div class="grid">
      <% for (let project of architectureProjects) { %>
      <a href="/projects/<%=project._id%>">
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/uploads/<%=project.images[0]%>" alt="project image">
            <div class="card-content">
              <h2 class="card-header">
                <%=project.name%>
              </h2>
              <p class="card-text">
                <%=project.description%>
              </p>
            </div>
          </div>
        </div>
      </a>
      <% } %>
    </div>
  </div>

  <div class="section hidden" data-type="visualisation">
    <div class="grid">
      <% for (let project of visualisationProjects) { %>
      <a href="/projects/<%=project._id%>">
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/uploads/<%=project.images[0]%>" alt="project image">
            <div class="card-content">
              <h2 class="card-header">
                <%=project.name%>
              </h2>
              <p class="card-text">
                <%=project.description%>
              </p>
            </div>
          </div>
        </div>
      </a>
      <% } %>
    </div>
  </div>

  <div class="section hidden" data-type="design">
    <div class="grid">
      <% for (let project of designProjects) { %>
      <a href="/projects/<%=project._id%>">
        <div class="grid-item">
          <div class="card">
            <img class="card-img" src="/uploads/<%=project.images[0]%>" alt="project image">
            <div class="card-content">
              <h2 class="card-header">
                <%=project.name%>
              </h2>
              <p class="card-text">
                <%=project.description%>
              </p>
            </div>
          </div>
        </div>
      </a>
      <% } %>
    </div>
  </div>



  <footer>
    <div class="footer">
      <div class="contact-info">
        <h5>Contact Information:</h5>
        <p class="address">Mozartova 4912/10,<br> 811 02 Bratislava - Stare Mesto</p>
        <p class="email">Email: <a href="mailto:artroom.box@gmail.com">artroom.box@gmail.com</a></p>
        <p class="phone-number">Phone number: +421 949 227 794</p>
      </div>
      <div class="working-hours">
        <h5>Working Hours:</h5>
        <p>Monday-Friday - 10:00-18:00</p>
        <p>Saturday-Sunday - not working</p>
      </div>
    </div>
  </footer>

  <div class="copyright">
    <p> © ARTROOM Architectural Studio.
      All rights reserved.
      All visual materials on the website belong to the ARTROOM architectural studio.
      Copying of any materials by third parties without written permission is prohibited. </p>
  </div>

  <script src="/scripts/language.js"></script>
  <script src="/scripts/navbar-transparent.js"></script>
  <script src="/scripts/navbar.js"></script>
  <script src="/scripts/filterByType.js"></script>
  <script src="/scripts/animations.js"></script>
</body>

</html>